@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

.error-message {
    color: #990000;
}

.error {
    background-color: #990000;
    color: #fff;
}

.success {
    background-color: #336900;
    color: #fff;
}

a {
    color: #4c75af;
}

a:hover, a:visited {
    color: #243751;
}

.center-content {
    margin: auto;
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4c75af;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: fit-content;
}

button:hover {
    background-color: #243751;
}

button:disabled {
    background-color: rgb(128, 128, 128);
}

.icon-button,
.icon-button:disabled,
.icon-button:hover {
    all: unset;
    font-size: 25px;
}

.icon-button:hover:not(:disabled) {
    cursor: pointer;
    color: #243751;
}

.icon-button {
    color: #4c75af;
}

.icon-button:disabled {
    color: rgb(105, 105, 105);
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    background-color: #243751;
    padding: 10px 30px;
}

.header a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.header a:not(:last-of-type) {
    margin-right: 20px;
}

.header a:hover {
    color: #abc3e2;
    cursor: pointer;
}

.page-content {
    padding: 55px 12px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){
    background-color: #f2f2f2;}


table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #243751;
    color: white;
}

.notification {
    position: fixed;
    right: 10px;
    top: 10px;
    max-width: 200px;
    z-index: 100;
    padding: 10px;
}

.hidden {
    display: none !important;
}

.dropdown {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #4c75af;
    cursor: pointer;
    font-size: 16px;
}

.heading {
    margin: 0 0 20px 0;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.centered-form label {
    display: block;
    margin-bottom: 5px;
}

.centered-form input[type="text"],
.centered-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.centered-form div {
    margin-bottom: 10px;
}

.centered-form button {
    margin: auto;
}

.centered-title {
    text-align: center;
}

.grid {
    display: grid
}