.error-message {
    color: #990000;
}

.error {
    background-color: #990000;
    color: #fff;
}

.success {
    background-color: #336900;
    color: #fff;
}

a {
    color: #4c75af;
}

a:hover, a:visited {
    color: #243751;
}

.center-content {
    margin: auto;
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4c75af;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #243751;
}

button:disabled {
    background-color: rgb(128, 128, 128);
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    background-color: #243751;
    padding: 10px 30px;
}

.header a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.header a:not(:last-of-type) {
    margin-right: 20px;
}

.header a:hover {
    color: #abc3e2;
    cursor: pointer;
}

.page-content {
    padding: 55px 12px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){
    background-color: #f2f2f2;}


table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #243751;
    color: white;
}

.notification {
    position: fixed;
    right: 10px;
    top: 10px;
    max-width: 200px;
    z-index: 100;
    padding: 10px;
}

.hidden {
    display: none !important;
}

.dropdown {
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #4c75af;
    cursor: pointer;
    font-size: 16px;
}

.heading {
    margin: 0 0 20px 0;
}