.title {
    text-align: center;
}

.dropdown {
    width: 100%;
    border: 1px solid lightgray;
}

.toggle {
    display: flex;
}

.toggle * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.toggle label {
    margin-left: 5px;
}