<!DOCTYPE html>
<html>

<head>
    <title>File management system</title>

    <meta charset="UTF-8">

    <link href="../../common-styles.css" rel="stylesheet">
    <link href="./register.css" rel="stylesheet">

    <script type="module" src="register.js" async></script>
</head>

<body onload="bodyLoaded()">
    <h1 class="title">File management system</h1>

    <div class="centered-container">
        <form id="registration-form" class="centered-form" onsubmit="event.preventDefault(); register();">
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email">
                <span id="email-error" class="error"></span>
            </div>

            <div>
                <label for="name">First Name:</label>
                <input type="text" id="name">
                <span id="name-error" class="error"></span>
            </div>

            <div>
                <label for="family-name">Last Name:</label>
                <input type="text" id="family-name">
                <span id="family-name-error" class="error"></span>
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" id="password">
                <span id="password-error" class="error"></span>
            </div>

            <div class="center-content">
                <button id="register-btn" type="submit">
                    Register
                </button>
            </div>

            <div class="center-content">
                <span>
                    Already have an account?
                    <a id="login-button">Login</a>
                </span>
            </div>
        </form>
    </div>
</body>

</html>