<!DOCTYPE html>
<html>

<head>
    <title>File management system</title>

    <meta charset="UTF-8">

    <link href="../../common-styles.css" rel="stylesheet">
    <link href="./login.css" rel="stylesheet">

    <script type="module" src="login.js" async></script>
</head>

<body onload="bodyLoaded()">
    <h1 class="title">File management system</h1>

    <div class="centered-container">
        <form id="registration-form" class="centered-form" onsubmit="event.preventDefault(); login();">
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email">
                <span id="email-error" class="error"></span>
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" id="password">
                <span id="password-error" class="error"></span>
            </div>

            <div class="center-content">
                <button type="submit" id="login-button">
                    Login
                </button>
                <span id="login-button-error" class="error"></span>
            </div>

            <div class="center-content">
                <span>
                    Don't have an account?
                    <a id="register-button">Register</a>
                </span>
            </div>
        </form>
    </div>
</body>

</html>