.file-input {
    display: none;
}

.upload-file {
    display: flex;
    align-items: center;
}

.upload-file *{
    margin-right: 10px;
}

.hidden {
    display: none;
}

.heading {
    margin: 20px 0;
}