<!DOCTYPE html>
<html>

<head>
    <title>File management system</title>

    <meta charset="UTF-8">

    <link href="../../common/style.css" rel="stylesheet">
    <link href="./files.css" rel="stylesheet">

    <script type="module" src="../../common/header/header.js" async></script>
    <script type="module" src="files.js" async></script>
</head>

<body onload="addHeader(); bodyLoaded()">
    <h1>Files</h1>

    <table id="files-table">
        <tr>
            <th>Ref. No.</th>
            <th>File name</th>
          </tr>
    </table>
</body>

</html>