.icon-button:not(:last-of-type),
.icon-button:not(:last-of-type):disabled,
.icon-button:not(:last-of-type):hover {
    margin-right: 10px;
}

.file-input {
    display: none;
}

.upload-file {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.upload-file *{
    margin-right: 10px;
}

td:last-of-type {
    text-align: center;
}